/* Глобальні стилі для всіх сторінок */
body {
    background-color: #FFFACD;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    color: #222;
}

/* Стилі для заголовків */
h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-left: 20px;
    font-style: italic;
}

/* Клас для заголовків */
.title {
    font-size: 24px;
    font-weight: bold;
    color: #000080;
    text-align: center;
}

/* Стилі для посилань */
a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

/* Унікальний ідентифікатор для посилань */
#id {
    color: purple;
    font-weight: bold;
}

/* Контекстні селектори */
ul li a {
    font-weight: bold;
}

table tr td a {
    color: green
}

/* Сусідні селектори */
h2 + ul {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 3px;
    font-size: 18px;
    max-width: 300px;
    display: inline-block;
    margin-left: 20px;
}

p + p {
    font-style: italic;
}

/* Внутрішній стиль для абзацу */
.inline-paragraph {
    font-size: 18px;
    font-weight: bold;
    color: #ff4500;
}

/* Дочірні селектори */
table > caption {
    font-size: 20px;
    font-weight: bold;
    color: #444;
}

ul > li {
    margin-bottom: 5px;
}

ul a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #f0f8ff;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-family: 'Courier New', monospace;
}

th {
    background-color: #ffcc00;
    font-size: 18px;
}

/* Стилі для списків */
ul {
    list-style-type: square;
    padding-left: 20px;
    font-size: 14px;
    color: #8b0000;
}

ol {
    list-style-type: decimal;
    padding-left: 25px;
    font-size: 14px;
    color: #00008b;
}

dl dt {
    font-weight: bold;
    color: #006400;
}

dl dd {
    font-style: italic;
    color: #8b4513;
}

/* Поля та заповнення */
.container {
    margin: 20px;
    padding: 15px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #e6e6fa;
}
